<!DOCTYPE html>
<html lang="ko">
<head>
  <link rel="stylesheet" href="index.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>지식인</title>
</head>
<body>
  <div class="page-wrap">
    <header class="main-header">
      <h2>header</h2>
    </header>
    <section class="main-section">
        <div class="question-container">
          <div class="question-title">
            Q 경북소프트웨어고등학교 가기 어렵나요?
          </div>
          <div class="question-content">
            경북소프트웨어고등학교 가고싶은 충남에 사는 중2인데  성적이 어느정도여야 경북소프트웨어고등학교에 갈수있을까요
          </div>
          <div class="question-catgory">
            <a href="#">고등학교진학</a>
          </div>
          <div class="question-footer">
            <div class="question_profileInfo">
              <div class="question-profile">
                profile-icon
              </div>
              <div class="question-name">
                kbs2****
              </div>
              <div class="question-date">
                · 2006.01.07
              </div>
              <div class="question-views">
                · 조회수 1,216
              </div>
            </div>

            <div class="question-function">
              <div class="reply_icon">
                reply_icon
              </div>
              <div class="question_report">
                report_icon
              </div>
            </div>
          </div>
        </div>

        <div class="answer-container">
          <div class="answer-title">
            <div class="answer-count">
              A n개
            </div>
          </div>
          <div class="answer-profile_info">
            <div class="answer-profile_contain">
              <div class="answer-info_right">
                <div class="answer-name">
                  n분전
                </div>
                <div class="anwer-item_list">
                  <div class="answer-definition">
                    채택답변수 4,341
                  </div>
                  <div class="answer-thanks">
                    ·받은감사수 35
                  </div>
                  <div class="answer-layer">
                    태양신
                  </div>
                </div>
              </div>
              <div class="answer-info_left">
                answer-profile
              </div>
            </div>
            <div class="answer-content">
              경북소프트웨어고등학교에 입학하기 위해서는 경쟁이 있을 수 있으며, 일정한 성적 기준이 존재합니다. 경북소프트웨어고등학교의 입학 기준은 매년 변동할 수 있으므로 정확한 정보를 얻기 위해서는 학교의 공식 웹사이트나 입학 안내를 참고하시는 것이 좋습니다. 일반적으로 고등학교 입학 시 중학교 성적, 국어, 수학, 영어 등의 과목 성적, 탐구능력 등이 고려되는 경우가 많습니다. 경북소프트웨어고등학교에 입학을 희망하신다면, 학교의 입학 기준을 충족하기 위해 노력하시고, 필요한 정보를 정확히 파악하여 준비하시는 것이 좋습니다.
            </div>
          </div>
        </div>
    </section>
    <footer class="main-footer">
      
    </footer>
  </div>
</body>
</html>